*{
    margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
    font-family: 'Raleway', sans-serif;
  }


  h1 {
    color: red;
}

@media (min-width: 55em) {
    body {
      background: gold;
    }
  }
  
  @media (max-width: 40em) {
    body {
      background: teal;
    }
  } 